@model ArchitectureTemplate.Mvc.Models.PermissaoModel

<div class="table-responsive border-ddd">
    <table class="table table-bordered table-hover">
        <tr>
            <th class="text-center" colspan="8">
                <span class="uppercase">Permission list of the screen for selected profile</span>
            </th>
        </tr>
        <tr>
            <th>
                Screen Name
            </th>
            @*<th>
                Nome da Controller
            </th>*@
            <th>
                Features
            </th>
            <th>
                Read
            </th>
            <th>
                Create
            </th>
            <th>
                Update
            </th>
            <th>
                Delete
            </th>
            <th>
                All
            </th>
        </tr>

        @foreach (var item in Model.ProfilePorTelaList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tela.Nome)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Tela.ControllerName)
                </td>*@
                <td>
                    @Html.DisplayFuncionalidades(item.Tela.Create, item.Tela.Read, item.Tela.Update, item.Tela.Delete)
                </td>
                <td class="text-center">
                    @Html.ButtonDisableOrEnable(item.Read, Url.Action("EnableOrDisable", new {id = Model.ProfileId, telaId = item.Tela.Id, parametro = "Read", permissaoId = item.Id }), item.Tela.Read)
                </td>
                <td class="text-center">
                    @Html.ButtonDisableOrEnable(item.Create, Url.Action("EnableOrDisable", new { id = Model.ProfileId, telaId = item.Tela.Id, parametro = "Create", permissaoId = item.Id }), item.Tela.Create)
                </td>
                <td class="text-center">
                    @Html.ButtonDisableOrEnable(item.Update, Url.Action("EnableOrDisable", new { id = Model.ProfileId, telaId = item.Tela.Id, parametro = "Update", permissaoId = item.Id }), item.Tela.Update)
                </td>
                <td class="text-center">
                    @Html.ButtonDisableOrEnable(item.Delete, Url.Action("EnableOrDisable", new { id = Model.ProfileId, telaId = item.Tela.Id, parametro = "Delete", permissaoId = item.Id }), item.Tela.Delete)
                </td>
                <td class="text-center">
                    <a link="@Url.Action("EnableOrDisableAll", new { id = Model.ProfileId, telaId = item.Tela.Id, ativar = true, permissaoId = item.Id })" title="Enable all"><i class="fa fa-md fa-plus-circle"></i></a> |
                    <a link="@Url.Action("EnableOrDisableAll", new { id = Model.ProfileId, telaId = item.Tela.Id, ativar = false, permissaoId = item.Id })" title="Disable all"><i class="fa fa-md fa-remove"></i></a>
                </td>
            </tr>
        }
    </table>
</div>