@model ArchitectureTemplate.Mvc.Models.MenuModel

<div class="table-responsive border-ddd">
    <table class="table table-bordered table-hover">
        <tr>
            <th class="text-center" colspan="8">
                <span class="uppercase">List of the menu permissions for the selected profile</span>
            </th>
        </tr>
        <tr>
            <th>
                Identify
            </th>
            <th>
                Menu Name
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ProfilePorMenuList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu.Nome)
                </td>
                <td class="text-center">
                    @if (item.Id == 0)
                    {
                        <a link="@Url.Action("EnableOrDisable", new { id = Model.ProfileId, menuId = item.Menu.Id })" title="Enable"><i class="fa fa-plus-circle"></i></a>
                    }
                    else
                    {
                        <a link="@Url.Action("EnableOrDisable", new { id = Model.ProfileId, menuId = item.Menu.Id, permissaoId = item.Id })" title="Desativar"><i class="fa fa-remove"></i></a>
                    }
                </td>
            </tr>
        }
        <tr>
            <td>
                <b>All</b>
            </td>
            <td>
                <b>All</b>
            </td>
            <td class="text-center">
                @if (Model.ProfilePorMenuList.Count(w => w.Id == 0) > 0)
                {
                    <a link="@Url.Action("EnableOrDisableAll", new { id = Model.ProfileId, ativar = true })" title="Enable all"><i class="fa fa-plus-circle"></i></a>
                }
                @if (Model.ProfilePorMenuList.Count(w => w.Id != 0) > 0)
                {
                    <a link="@Url.Action("EnableOrDisableAll", new { id = Model.ProfileId, ativar = false })" title="Disable all"><i class="fa fa-remove"></i></a>
                }
            </td>
        </tr>

    </table>
</div>