@model ArchitectureTemplate.Mvc.Models.MenuModel
@{
    ViewBag.Title = "Menu Permissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white-row">
    <h3>
        <strong>Menu Permissions</strong>
    </h3>

    <div class="form-horizontal">
        <div class="form-group">
            @Html.HiddenFor(model => model.Scroll)
            @Html.LabelFor(model => model.ProfileId, new {@class = "control-label col-md-5"})
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.ProfileId, new SelectList(Model.ProfileDictionary, "Key", "Value"), "Select Profile", new {@class = "form-control"})
            </div>
        </div>
    </div>

    <hr>

    <div id="DivDados">
        @if (Model.ProfileForMenuList?.Any() ?? false)
        {
            @Html.Partial("_List", Model)
        }
        else
        {
            <div class="table-responsive border-ddd">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th class="text-center" colspan="5">
                            <span class="uppercase">List of menus existing in the system</span>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                    </tr>

                    @foreach (var item in Model.MenuList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>

    <button class="btn btn-primary btn-specific" id="btnSincronizar">Synchronize</button>
    @*@Html.ActionLink("Exportar para Excel", "ExportToExcel", null, new { @class = "btn btn-primary btn-specific" })*@
</div>

@section Scripts {
    <script type="text/javascript" src="~/wwwroot/js/views/menu.js@("?v201703221651?")"></script>
}