@model IList<int>

<div class="container" id="menu-top">
    <!-- Mobile Menu Button -->
    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Logo text or image -->
    <a class="logo pull-left" href="@Url.Action("Index", "Home")">
        <img src="~/wwwroot/images/logo.png" alt="ArchitectureTemplate" />
    </a>

    <!-- Top Nav -->
    @*<div class="navbar-collapse nav-main-collapse collapse pull-right">*@
    <div class="navbar-collapse nav-main-collapse collapse pull-left">
        <nav class="nav-main mega-menu">
            <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
                <li>
                    @*<li class="active">*@
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home</a>
                </li>

                @if (Model.Contains(1))
                {
                    <li class="dropdown" id="Menu_1">
                        <a class="dropdown-toggle" href="#">
                            <i class="fa fa-cog"></i>
                            <span>Settings</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            @if (Model.Contains(6))
                            {
                                <li id="Menu_6">
                                    <a href="@Url.Action("Index", "Hierarquia")"><i class="fa fa-indent"></i>Hierarchy</a>
                                </li>
                            }
                            @if (Model.Contains(5))
                            {
                                <li id="Menu_5">
                                    <a href="@Url.Action("Index", "Log")"><i class="fa fa-info-circle"></i>Logs</a>
                                </li>
                            }
                            @if (Model.Contains(7))
                            {
                                <li id="Menu_7">
                                    <a href="@Url.Action("Index", "Profile")"><i class="fa fa-id-badge"></i>Profile</a>
                                </li>
                            }
                            @if (Model.Contains(3))
                            {
                                <li id="Menu_3">
                                    <a href="@Url.Action("Index", "Permissao")"><i class="fa fa-legal"></i>Permissions</a>
                                </li>
                            }
                            @if (Model.Contains(4))
                            {
                                <li id="Menu_4">
                                    <a href="@Url.Action("Index", "Tela")"><i class="fa fa-desktop"></i>Screens</a>
                                </li>
                            }
                            @if (Model.Contains(8))
                            {
                                <li id="Menu_8">
                                    <a href="@Url.Action("Index", "Usuario")"><i class="fa fa-user-o"></i>Users</a>
                                </li>
                            }
                            @if (Model.Contains(2))
                            {
                                <li id="Menu_2">
                                    <a href="@Url.Action("Index", "Menu")"><i class="fa fa-bars"></i>Menus Setting</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>